/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Site variable
$color: #242424;
$background-color: #95dbff;
$background-color-alternate: #fdf582;

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Josefin Sans Light'), local('JosefinSans-Light'), url(http://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04z2B7wJ9CoPCp9n30ZBThZ1I.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(http://fonts.gstatic.com/s/josefinsans/v9/C6HYlRF50SGJq1XyXj04zxAPw1J91axKNXP_-QX9CC8.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Josefin Sans Light Italic'), local('JosefinSans-LightItalic'), url(http://fonts.gstatic.com/s/josefinsans/v9/ppse0J9fKSaoxCIIJb33G6G6KSkCb3wBFlS6Qx4Mm8U.woff) format('woff');
}


// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin body-font-regular {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
}

@mixin body-font-italic {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 300;
}

@mixin body-font-bold {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
}

@mixin headline-font {
    font-family: "p22-fllw-eaglefeather",sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin reversed-background-font {
    background-color: $color;
    color: $background-color;
}

@keyframes colorchange-background {
    0% { background-color: $background-color;}
    50% { background-color: $background-color-alternate;}
    100% { background-color: $background-color;}
}